.range-filter {
  display: flex;
  gap: var(--space-xs);
  margin-block: var(--space-md);

  button {
    text-wrap: nowrap;
  }

  &.compact {
    gap: 0;
    button {
      flex: 1;
      text-wrap: nowrap;

      border-right: none;
      border-radius: 0;

      &:first-child {
        border-top-left-radius: var(--border-radius-sm);
        border-bottom-left-radius: var(--border-radius-sm);
      }

      &:last-child {
        border-top-right-radius: var(--border-radius-sm);
        border-bottom-right-radius: var(--border-radius-sm);
        border-right: var(--border-card);
      }
    }
  }
}
